body {
    background-color: #3F5765;
}

#log {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#message {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#message > div > span {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7em;
    margin: 0.05em;
    color: white;
}

#microsoft {
    /*position: absolute;
    top: 50%;
    right: 154px;*/
    display: inline-block;
    height: 308px;
    vertical-align: middle;
}

/* heart is 308 x 308 */
#heart { 
    /*position: absolute;*/
    display: inline-block;
    /*left: 50%;*/
}

#OSS {
    /*position: absolute;
    top: 50%;
    left: 462px;*/
    display: inline-block;
    height: 308px;
    vertical-align: middle;
}

.col {
    display: inline-block;
    height: 4px;
    width: 4px;
    padding-left: 0px;
    margin-left: 1px;
    /*border: 0.5px solid white;*/
}
.row {
    display: block;
    line-height: 0px;
}